body{
	margin:0px;
	padding: 0px;
	font-family: poppins;
	
}
*{
	box-sizing:border-box;
	scroll-behavior: smooth;
}
/* HEADER para la ellos es id main */
.header{
	width:100%;
	/* height:100vh; */
    position: relative;
    height: 5em;
}


.header-nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	box-shadow: 5px 10px 30px rgba(0,0,0,0.02);
	position: fixed;
	left: 0;
	top: 0;
	width:100%;
	z-index: 1;
	background-color: #ffffff;
}

    /* LOGO */
.logo__img {
    height: 1.7em;
}


/* Menu */

.nav-menu {
    display: flex;
    list-style: none;
    padding: 0;
    
}

    /* -------- links del menu ----------- */
.nav-menu__link {
    /* background-color:red; */
    height: 40px;
    text-decoration: none;
    line-height: 2.6em;
    margin: .20em;
    padding: 0.5em;
    display: flex;
    font-size: .8em;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .063em;
    color: #000
}

.nav-menu__link:hover {
    border-bottom: 1px solid #2adabc ;
    color: #2adabc;
    /* box-shadow: 5px 10px 30px rgba(64,198,196,0.3); */
    transition: all ease 0.2s;
}






    /* -------- BOTON CONTRÁTAME ----------- */

.header-nav__button {
    color:#39bfbd;
    font-weight: 400;
    font-size: 0.9em;
    border: 2px solid #40c6c4;
    padding:.5em;
    background-color: #ffffff;
}

main{
position: relative;
}
/* ################################### SECTION HELLO ##############################  */

.hello-img {
    width:100%;
    height: 100%;
    object-fit: contain;
    width:500px;
	height: 500px;
}



.hello{
    /* background-color: grey; */
    height: 38em;
    padding-left: 4em;
    padding-right: 4em;
    /* width:90%; */
	display: flex;
	justify-content: space-around;
	align-items: center;
    /* left: 30%; */
	/* top: 50%; */
    position: absolute;
    border-bottom: 1px solid #747474;
}

.hello-bubble {
    position: relative;
    text-align: center;
    height: 65px;
    width: 200px;
    background: #1db096;
    box-shadow: 1px 12px 33px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.hello-bubble__title {
    display: inline-block;
    color: #ffffff;
}

.hello-bubble:before {
    border: 25px solid #1db096;
    content: '';
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    position: absolute;
    bottom: -48px;
    left: calc(50% - 25px)
}

.hello-text__title{
    font-family: 'Varela Round', sans-serif; ;
	font-size: 3.5rem;
	color:#1c3548;
    line-height: 60px;
    margin-bottom: .5em;
}

.hello-text__paragraph{
    color:#747474;
    line-height: 1.5em;
    margin-bottom: 1em;
}

.hello-button {
    display: flex;
    justify-content: flex-start;
}

.hello__button {
    width:190px;
    height: 44px;
    justify-content: center;
    align-items: center;
    margin: 1.5em 1em 0 0;
    color:#FFFFFF;
    background-color: #1db096;
    border-radius: 10px;
    border: none;
}

.hello__button--bg-transparent {
    background: none;
    color: #747474;
    border: 2px solid #747474
}

.hello__button-down{
    position: absolute;
    left: 49%;
    bottom: 0.5em;
    height: 106px;
    width: 60px;
    border-radius: 60px;
    background: none;
    border: 2px solid #747474;
    font-size: 1.5em;
    color:#747474;
}

.fa-long-arrow-alt-down{
    align-items: center;
    margin: 1.7em 0.95em;


}   

/* <!--.............................. END OF ARTICLE HELLO............................... --> */


/* <!--############################### SECTION ABOUT ############################## --> */

.about{
    position: relative;
    margin-top:40em;
    width:100%;
    border-top: 1px solid rgba(58,58,58,0.03);
    border-bottom: 1px solid rgba(58,58,58,0.03);
    padding: 50px 0px;
    background-size: 1000px;
    justify-content: space-around;

}

section.about-box{
    display: inline-block;
	display: flex;
	justify-content: center;
    align-items: center;
	flex-wrap: wrap;
	margin:20px 0px;
}

.about-box__skill {
	width:310px;
	height: 350px;
	background-color: #FFFFFF;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 10px;
	margin: 20px;
	box-shadow: 5px 10px 30px rgba(0,0,0,0.08);
}

.about__title{
    text-align: center;
}

.about__title:target {
    padding-top: 3em;
}

.about-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0px 0px;
}

.about-box__skill{
    width:310px;
    height: 350px;
    background-color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    box-shadow: 5px 10px 30px rgba(0,0,0,0.08);
}

.skill__icon {
    font-size: 80px;
    color: #1c3548;

}

.skill__paragraph{
    text-align:center;
    color:#747474
}

.about-box:hover {
    background-color: red;
    color #fffff;
}